<!DOCTYPE html>
<html lang="es">
    <head>
        <title>{% block title %} Estadísticas {% endblock %}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block css %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/estadisticas.css') }}">
        {% endblock %}
   </head>
   <body>
        <div class="barra-titulo">
            <h1>Estadísticas</h1>
        </div>

        <div class="espacio-actividad">
            <div id="chart-lineas" style="width:100%; height:400px;"></div>
        </div>

        <div class="espacio-actividad">
            <div id="chart-torta" style="width:100%; height:400px;"></div>
        </div>

        <div class="espacio-actividad">
            <div id="chart-barras" style="width:100%; height:400px;"></div>
        </div>

        <div class="btn-group">
            <a id="btnVolverMenu" class="button" href="{{ url_for('index') }}">Volver al menú</a>
        </div>
        
        {% block javascript %}
            <script src="https://code.highcharts.com/highcharts.js"></script>
            <script type="text/javascript" src="{{ url_for('static', filename='js/graficos.js') }}"></script>
        {% endblock %}
   </body>
</html>