<!DOCTYPE html>
<html lang="es">
    <head>
        <title>{% block title %} Estadísticas {% endblock %}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block css %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/estadisticas.css') }}">
        {% endblock %}
   </head>
   <body>
        <div class="barra-titulo">
            <h1>Estadísticas</h1>
        </div>

        <div class="espacio-actividad">
            <p>Hola</p>
        </div>

        <div class="espacio-actividad">
            <p>Hola 2</p>
        </div>

        <div class="espacio-actividad">
            <p>Hola 3</p>
        </div>

        <div class="btn-group">
            <a id="btnVolverMenu" class="button" href="{{ url_for('index') }}">Volver al menú</a>
        </div>
   </body>
</html>