<!DOCTYPE html>
<html lang="es">
    <head>
        <title>{% block title %} Portada {% endblock %}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block css %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/portada.css') }}">
        {% endblock %}
    </head>
    <body>
        <h1>¡Bienvenidos a la página social más épica de la web!</h1>
        <h2>¿Que deseas hacer?</h2>

        <div class="btn-group">
            <a id="agregar" class="button" href="{{ url_for('formulario') }}">Agregar actividad</a>
            <a id="listado" class="button" href="{{ url_for('listado') }}">Ver listado de actividades</a>
            <a id="estadisticas" class="button" href="{{ url_for('estadisticas') }}">Estadísticas</a>
        </div>

        {% if data %}
            <h2>Últimas Actividades Agregadas</h2>
            <table>
                <thead>
                    <tr>
                        <th>Inicio</th>
                        <th>Término</th>
                        <th>Comuna</th>
                        <th>Sector</th>
                        <th>Temas</th>
                        <th>Foto</th>
                    </tr>
                </thead>
                <tbody>
                    {% for actividad in data %}
                        <tr>
                            <td>{{ actividad.inicio }}</td>
                            <td>{{ actividad.termino or 'Sin definir' }}</td>
                            <td>{{ actividad.comuna or 'Sin especificar' }}</td>
                            <td>{{ actividad.sector or 'Sin especificar' }}</td>
                            <td>
                                {% if actividad.temas %}
                                    <ul>
                                    {% for tema in actividad.temas %}
                                        <li>{{ tema }}</li>
                                    {% endfor %}
                                    </ul>
                                {% else %}
                                    Sin temas
                                {% endif %}
                            </td>
                            <td>
                                {% if actividad.path_foto %}
                                    <img src="{{ actividad.path_foto }}" alt="Primera foto de la actividad" style="max-width: 100px;">
                                {% else %}
                                    Sin foto
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No hay actividades agregadas aún.</p>
        {% endif %}
    </body>
</html>